*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;

}
html{
    scroll-behavior: smooth;
}
body{
  margin-left: auto;
  margin-right: auto;
  padding: 0;
}
/* HEADER */
header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 5px 10px;
  background-color: #fff;
  box-shadow: 3px 0px 9px rgba(0, 0, 0, 0.25);
  width: 100%;
  padding:0px 5%;
  position: fixed;
  z-index: 999;

}

.logo {
  margin-right: auto;
}
.logo img{
  width: 270px;
  height: 62px;
}

.nav__links {
  list-style: none;
  display: flex;
}

.nav__links a,
.cta,
.overlay__content a {
  font-weight: 500;
  color:#FF6F00;
  text-decoration: none;
}

.nav__links li {
  padding: 0px 10px;
}

.nav__links li a {
  transition: all 0.3s ease 0s;
  padding: 5px 5px;
}
.nav__links li a:hover {
    box-shadow: 5px 5px 9px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    background-color: #FF6F00;
    color: #fff;
}

.cta {
  margin-left: 10px;
  padding: 9px 15px;
  background-color: #FF6F00;
  color: white;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

.cta:hover {
  /* background-color: rgba(0, 136, 169, 0.8); */
  box-shadow: 5px 5px 9px rgba(0, 0, 0, 0.25);
}

/* Mobile Nav */

.menu {
  display: none;
  margin-left: 20px;
  padding: 10px 10px;
  background-color: #fff;
  color: white;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  padding: 0px 30px;
  transition: all 0.3s ease 0s;
}

.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  background-color: #24252a;
  overflow-x: hidden;
  transition: all 0.5s ease 0s;
}

.overlay--active {
  width: 100%;
}

.overlay__content {
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.overlay a {
  padding: 15px;
  font-size: 36px;
  display: block;
  transition: all 0.3s ease 0s;
}

.overlay a:hover,
.overlay a:focus {
  color: #0088a9;
}
.overlay .close {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
  color: #edf0f1;
  cursor: pointer;
}
.overlay__content a:hover a::after {
  transform: translate(-50%,-50%) scale(1);
  letter-spacing: initial;
}
.cta-contact-button {
  margin-left: 19px;
  padding: 10px 15px;
  background-color: #FF6F00;
  color: white;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}
/* @media screen and (max-height: 450px) {
  .overlay a {
    font-size: 20px;
  }
  .overlay .close {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
} */

@media only screen and (max-width: 800px) {
  .nav__links,
  .cta {
    display: flex;
  }
  .cta {
    display:none;
  }
  .nav__links li {
    padding: 0px 5px;
  }

  .nav__links li a {
    transition: all 0.3s ease 0s;
    padding: 5px 5px;
  }
  .menu {
    display: initial;
  }
  .logo{
    display: flex;
    top: 0;
    right: 0;
    left: 0;
    width: 60%;
    margin-left: 18%;
  }
  .logo img{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 250px;
    height: 70px;
    align-items: center;
  }

  .navbar{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 0px 20px;
    padding-top: 5px;
    padding-bottom: 15px;
    background-color: #fff;
    display: flex;
    position: fixed;
    justify-content: center;
    top: 65px;
    right: 0;
    left: 0;
 box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.25);
  }
  header{
      font-size: 14px;
      padding: 5px 10px;
      background-color: #fff;
      width: 100%;
      padding:0px 5%;
      position: fixed;
      z-index: 999;
      padding: 0px 0px;
      display: block;
      box-shadow: 5px 5px 9px rgba(0, 0, 0, 0.25);
  }
}
/* <!-- header section ends--> */
/* <!-- home section starts --> */
.home{

  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  width: 100%;
  color:black;  overflow: hidden;
  padding:0px 50px;
  /* background-color: #54e346; */
  background-color: #54e346;
}
.home-content{
  width: 45%;
  position: absolute;
  top: 80px;

}
.home-content h2{
padding: 20px 0px;
top:100px;
margin-top: 70px;
margin-left: 20px;
font-size: 1.8vw;
color: #FFf;
}
.home-content p{
padding: 0px 0px;
padding-bottom: 30px;
margin-left: 20px;
font-size: 1.5vw;
opacity: 0.9;
color: white;
}
.home-img img{
  float: right;
  width: 50%;
  height: 80%;
  top: 150px;
  margin-top: 130px;
}

@media only screen and (max-width: 800px) {
  .home{
    font-weight: 500;
    width: 100%;
    color:black;  overflow: hidden;
    padding:20px 30px;
    background-color: #54e346;
  }
  .home-content{
    width: 100%;
    margin-top: 0px;
    position:static;

  }
  .cta-contact-button {
    margin-left: 0px;
    padding: 9px 20px;
    background-color: #FF6F00;
    color: white;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
  }
  .home-content h2{
  padding: 10px 0px;
  font-size: 5vw;
  margin-left: auto;
  margin-top: 5px;
  margin-right: auto;
  color: #FF6F00;
  }
  .home-content p{
  padding: 0px 0px;
  margin-left: auto;
  margin-right: auto;
  font-size: 3.5vw;
  color: #fff;
  padding-bottom: 25px;
  }
  .home-img img{
   width: 100%;
   height: 350px;
   float: none;
   margin-left: auto;
   margin-right: auto;
   margin-top: 100px;
  }
}
/* application section starts */

.applications{
  padding : 50px 0px;
  background-color:#54e346;
}
.title{
  color: #FF6F00;
  font-size: 3vw;
  text-align: center;
  width: 100%;
  display: block;

}
.application{
  position: relative;
  width: 100%;
  overflow: hidden;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  font-size: 1.2vw;
  background-color:#54e346;
}
.appliaction{
  font-size: 1.1vw;
}
.app-card{
  width: 25%;
  margin: 20px;
  padding: 20px;
  margin-left: auto;
  margin-right: auto;
  background-color: #fff;
  border-radius: 25px;
  box-shadow: 5px 5px  10px rgba(0, 0, 0, 0.25);
}
.app-content{
  color: black;

}
.app-content h3{
  padding-bottom: 10px;
  color: #004cfc;
}
.app-img img{
  width: 100%;
  height: 300px;
  max-height: 200px;

  border-radius: 10px;
  margin-bottom: 10px;
}
.app-card:hover{
box-shadow: 5px 5px  10px rgba(0, 0, 0, 0.25);
cursor: pointer;
}

@media only screen and (max-width: 800px) {
  .applications .title{
  padding-top: 5px;
  padding-bottom: 30px;
  }
  .title{
    color: #FF8D43;
    font-size: 3vw;
    text-align: center;
    width: 100%;
    display: inline-block;
  }
  .application{
    position: relative;
    width: 93%;
    overflow: hidden;
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.2vw;
    background-color:#54e346;
  }
  .appliaction{
    font-size: 1.1vw;
  }
  .app-card{
    width: 90%;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    background-color: #fff;
    border-radius: 25px;
    box-shadow: 5px 5px  10px rgba(0, 0, 0, 0.25);
  }
  .app-content{
    color: black;
    font-size: 4vw;
  }
  .app-content h3{
    padding-bottom: 10px;
    color: #004cfc;
  }
  .app-img img{
    width: 100%;
    height: 30%;
    max-height: 200px;
    border-radius: 10px;
    margin-bottom: 10px;
  }
  .app-card:hover{
  box-shadow: 5px 5px  10px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  }

}
/* application section ends */
/* platform section starts */


.platforms{
  width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-color: #54e346;
  margin-bottom: 0px;
}
.platform-main{
  width: 92%;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  background-color: #54e346;
}

.platform-card{
  width: 100%;
  margin: 20px;
  padding: 20px;
  margin-left: auto;
  margin-right: auto;
  background-color: #fff;
  border-radius: 25px;
  box-shadow: 5px 5px  10px rgba(0, 0, 0, 0.25);
}
.platform-content{
  color: black;
  width: 100%;
  font-size: 1.1vw;

}
.platform-content h3{
  padding: 10px;
  padding-bottom: 10px;
  color: #004cfc;
  font-size: 2vw;
}
.platform-content p{
  font-size: 1.1vw;
}
.platform-img img{
  width: 10%;
  height: 10%;
  max-height: 300px;
  float: left;
  margin-right: 30px;
  border-radius: 10px;
  margin-bottom: 10px;
}
.platform-card:hover{
box-shadow: 5px 5px  10px rgba(0, 0, 0, 0.25);
cursor: pointer;
}

/* platforms cards */

.platform{
  width: 95%;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  background-color: #54e346;
}
.platform-cards{
  width: 22%;
  background-color: #fff;
  border-radius: 25px;
  margin: 20px 0px;
  padding: 10px;
  box-shadow: 5px 5px  10px rgba(0, 0, 0, 0.25);
  margin-left: auto;
  margin-right: auto;
}
.platforms-content{
  color:black;
  width: 100%;
  font-size: 1.1vw;
  padding-top: 5px;
}
.platforms-content h3{
  padding: 5px;
  padding-bottom: 10px;
  color: #004cfc;
}
.platforms-content p{
  padding: 5px;

}
.platforms-img img{
  width: 100%;
  height: 20%;
  float: left;
  margin-right: 10px;
  border-radius: 10px;
  margin-bottom: 10px;
}
.platforms-card:hover{
box-shadow: 5px 5px  10px rgba(0, 0, 0, 0.25);
}

@media only screen and (max-width: 800px) {
  .title{
    color: #FF6F00;
    font-size: 7vw;
    text-align: center;
    width: 100%;
    display: block;
  }
  .platforms{
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: #54e346;
    padding-bottom: 15px;
  }
  .platform-main{
    width: 90%;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    background-color: #54e346;
  }

  .platform-card{
    width: 93%;
    margin: 20px;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    background-color: #fff;
    border-radius: 25px;
    box-shadow: 5px 5px  10px rgba(0, 0, 0, 0.25);
  }
  .platform-content{
    color: black;
    width: 100%;
    font-size: 3vw;
  }
  .platform-content h3{
    padding: 0px;
    padding-bottom: 10px;
    color: #004cfc;
    font-size: 4.5vw;
  }
  .platform-content p{
    font-size: 3.5vw;
  }
  .platform-img img{
    width: 100%;
    height: 20%;
    max-height: 300px;
    float: left;
    margin-right: 30px;
    border-radius: 10px;
    margin-bottom: 10px;
  }
  .platform-card:hover{
  box-shadow: 5px 5px  10px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  }

  /* platforms cards */

  /* .platform{
    width: 92%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: #54e346;
  }
  .platform-cards{
    width: 100%;
    display: flex;
    background-color: #fff;
    border-radius: 25px;
    margin: 20px 0px;
    padding: 10px;
    box-shadow: 5px 5px  10px rgba(0, 0, 0, 0.25);
    margin-left: auto;
    margin-right: auto;
  }
  .platforms-content{
    color:black;
    width: 100%;
    font-size: 3vw;
    padding-top: 5px;
  }
  .platforms-content h3{
    padding: 5px;
    padding-bottom: 10px;
    color: #004cfc;
  }
  .platforms-content p{
    padding: 5px;

  }
  .platforms-img img{
    width: 200px;
    height: 200px;
    float: left;
    margin-right: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
  }
  .platforms-card:hover{
  box-shadow: 5px 5px  10px rgba(0, 0, 0, 0.25);
  } */
  .platform{
    width: 93%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: #54e346;
  }
  .platform-cards{
    width: 90%;
    margin-top: 20px;
    margin-bottom: 0px;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    background-color: #fff;
    border-radius: 25px;
    box-shadow: 5px 5px  10px rgba(0, 0, 0, 0.25);
  }
  .platforms-content{
    color: black;
    width: 100%;
    font-size: 3.5vw;

  }
  .platforms-content h3{

    padding-bottom: 10px;
    color: #004cfc;
  }
  .platforms-content p{
    font-size: 3.5vw;
  }
  .platforms-img img{
    width: 100%;
    height: 20%;
    max-height: 300px;
    float: left;
    margin-right: 5px;
    border-radius: 10px;
    margin-bottom: 5px;
  }
  .platform-cards:hover{
  box-shadow: 5px 5px  10px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  }
}
/* platform section ends */
/* contact section starts */
.contact-section{
padding-top: 40px;
padding-bottom: 20px;
  background-color: #54e346;
  margin-top: 0px;
}
.contact{
width: 92%;
margin-top: 40px;
background-color: #fff;
font-size: 1.3vw;
padding-bottom: 30px;
margin-left: auto;
margin-right: auto;
border-radius: 25px;
box-shadow: 5px 5px  10px rgba(0, 0, 0, 0.25);
}
.contact h4{
  color:#FF6F00;
  font-size: 1.6vw;
  padding-bottom: 10px;
}
.address{
width: 100%;
padding: 40px;
display: flex;
justify-content:  center;
}
.address img{
  width: 30px;
  height: 30px;
  margin-right: 10px;

}
.address-info{
padding: 20px 20px;
width: 100%;
display: flex;
}
.email{
padding: 20px 20px;
width: 100%;
display: flex;
}

.contact-form{
  width: 45%;
  height: 500px;
  min-width: 350px;
  background-color: #F8F8F8;
  color: black;
  padding: 20px;
  margin-left: 30px;
  margin-right: 5%;
  border-radius: 20px;
  float: left;
}
.contact-form h4{
  padding: 20px 0px;
}
.contact-img{
float: left;
width: 50%;
  min-width: 300px;
}
.contact-img img{
  width: 100%;
  height: 100%;
 padding-left:10%;
  padding-top: 0px;
}
.contact-container{
  display: flex;
  width: 100%;
}
input{
    padding: 10px;
    margin-bottom: 20px;
    background: transparent;
    border: none;
    border-bottom: 1px solid black;
    color: black;
}
input::placeholder {
    color: black;
}
.info {
display: flex;
flex-direction: column;
}

textarea{
  padding: 20px;
}
.send-msg{
  background-color: #FF6F00;
  padding: 10px;
  margin-top: 20px;
  border-radius: 20px;
  font-size: 20px;
  color: #fff;
  font-weight: bold;
  float: right;
    box-shadow: 5px 5px  10px rgba(0, 0, 0, 0.25);
}
@media only screen and (max-width: 800px) {
  .contact-section{
  padding-top: 40px;
  padding-bottom: 20px;
  background-color: #54e346;
  }
  .contact{
  width: 92%;
  margin-top: 40px;
  background-color: #fff;
  font-size: 3.5vw;
  padding-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 25px;
  box-shadow: 5px 5px  10px rgba(0, 0, 0, 0.25);
  }
  .contact h4{
    color:#FF6F00;
    font-size: 4vw;
    padding-top: 0px;
    padding-bottom: 15px;
  }
  .address{
  width: 100%;
  padding: 30px;
  display: block;
  text-align: center;
  }
  .address-info{
  padding: 10px 20px;
  width: 100%;
  display: block;
  }
  .email{
  width: 100%;
  padding: 0px 20px;
  display: block;
  }
  .contact-img img{
  width: 30%;
  display: flex;
  height: 500px;

  }
  .contact-form{
    width: 90%;
    min-width: 250px;
    background-color: #F8F8F8;
    color: black;
    padding: 20px;
    margin: 0px 30px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
    box-shadow: none;
    float: none;
  }
  input{
      padding: 10px;
      margin-bottom: 20px;
      background: transparent;
      border: none;
      border-bottom: 1px solid black;
      color: black;
  }
  input::placeholder {
      color: black;
  }
  .info {
  display: flex;
  flex-direction: column;
  }
  .contact{
background-color: #fff;
      }
  textarea{
    padding: 20px;
  }
  .send-msg{
    background-color: #FF6F00;
    padding: 10px;
    margin-top: 20px;
    border-radius: 20px;
    font-size: 20px;
    color: #fff;
    font-weight: bold;
    float: right;
    box-shadow: 5px 5px  10px rgba(0, 0, 0, 0.25);
  }
  .contact-img{
  float: none;
  margin-left: auto;
  margin-right: auto;
    min-width: 300px;
  }
  .contact-img img{
    width: 80%;
    height: 80%;
   padding-left: 0px;
    padding-top: 10px;
    margin-left: auto;
    margin-right: auto;
  }
  .contact-container{
    display: block;
    width: 100%;
  }
}

/* contact section ends */
/* footer section starts */
.footer{
  background-color: #54e346;
}
.footer-card{
width: 92%;
padding: 30px 0px;
display: flex;
margin-left: auto;
margin-right: auto;

}
.mission{
width: 100%;
color: #fff;
background-color:  #FF6F00;
padding: 30px 20px;
  border-radius: 20px;
  margin: 0px 5px;
  box-shadow: 5px 5px  10px rgba(0, 0, 0, 0.25);
}
.mission h3{
  padding-bottom: 10px;
}
.copyright{
  background-color: #F8F8F8;
  text-align: center;
  padding: 40px;
}
@media only screen and (max-width: 800px) {
  .footer{
    background-color: #54e346;
  }
  .footer-card{
  width: 92%;
  padding: 30px 0px;
  display: block;
  margin-left: auto;
  margin-right: auto;

  }
  .mission{
    width: 98%;
    color: #fff;
    background-color:  #FF6F00;
    padding: 30px 20px;
    border-radius: 20px;
    margin: 20px 5px;
    box-shadow: 5px 5px  10px rgba(0, 0, 0, 0.25);
  }
  .mission h3{
    padding-bottom: 10px;
  }
  .copyright{
    background-color: #F8F8F8;
    text-align: center;
    padding: 40px;
  }
}
/* footer section ends */
