@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');
*{
margin: 0;
padding: 0;
text-decoration: none;
box-sizing: border-box;
font-family: 'Roboto', sans-serif;
font-family: 'Poppins', sans-serif;
}
html{
scroll-behavior: smooth;
}
body{
margin-left: auto;
margin-right: auto;
padding: 0;
background: linear-gradient(90deg, rgba(0,116,189,1) 0%, rgba(65,166,246,1) 100%);
}
/* HEADER */
.top-nav{
  width: 100%;
  display: flex;
  position: fixed;
  background-color: #fff;
  padding:3px 5%;
  z-index: 999;
  background-color: #41A6F6;
  background-color: #FF700C;
}
.top-nav ul{

}
.top-nav ul li{
    display: inline;
  padding: 0px 10px;
}
.top-nav ul li img{
  width: 40px;
  height: 40px;
  border-radius: 100px;
}
.login{
width: 100px;
height: 40px;
position: absolute;
right: 5%;
}
.login img{
  float: right;
  width: 20px;
}
header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 5px 10px;
  background-color: #fff;
  -moz-box-shadow:    3px 3px 5px 6px #ccc;
  -webkit-box-shadow: 3px 3px 5px 6px #ccc;
  box-shadow:         3px 3px 10px 2px #ccc;
  width: 100%;
  padding:0px 5%;
  position: fixed;
  top:43px;
  z-index: 999;
}
.logo {
  margin-right: auto;
}
.logo img{
  width: 270px;
  height: 62px;
}
.nav__links {
  list-style: none;
  display: flex;
}
.nav__links a,
.cta,
.overlay__content a {
  font-weight: 500;
  color:#FF6F00;
  text-decoration: none;
  font-size: 1.1vw;
}
.nav__links li {
  padding: 0px 10px;
}
.nav__links li a {
  transition: all 0.3s ease 0s;
  padding: 5px 5px;
}
.nav__links li a:hover {
    box-shadow: 5px 5px 9px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    background-color: #FF6F00;
    color: #fff;
}
.cta {
  margin-left: 18px;
  padding: 9px 15px;
  background-color: #FF6F00;
  color: white;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  box-shadow: 1px 1px 10px rgba(255, 255, 255, 0.6);
transform: matrix(1, 0, 0, -1, 0, 0);
}
.cta:hover {
  box-shadow: 5px 5px 9px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 0px 20px rgba(255, 111, 0, 0.5);
  transform: matrix(1, 0, 0, -1, 0, 0);
}
@media only screen and (min-device-width : 641px) and (max-device-width : 1024px) {
  .cta{
    margin-left: 0px;
    font-size: 2vw;
  }
  .nav__links{
    width: 90%;
  }
  .nav__links li {
    padding: 0px 0px;
    margin-left: auto;
    margin-right: auto;
  }
  .nav__links li a {
    transition: all 0.3s ease 0s;
    padding: 5px 5px;
    font-size: 1.5rem;
    float: right;
    text-align: center;
  }
  .menu {
    display: initial;
  }
  .logo{
    display: flex;
    top: 0;
    right: 0;
    left: 0;
    width: 60%;
    margin-left: 18%;
  }
  .logo img{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 280px;
    height: 80px;
    align-items: center;
  }
  .navbar{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 0px 0px;
    padding-top: 5px;
    padding-bottom: 15px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    top: 70px;
    right: 0;
    left: 0;
    font-size: .8rem;
    box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.25);
  }
  header{
      font-size: 14px;
      padding: 5px 10px;
      background-color: #fff;
      width: 100%;
      padding:0px 10px;
      position: fixed;
      z-index: 999;
      top:0px;
      display: block;
      box-shadow: 5px 5px 9px rgba(0, 0, 0, 0.25);
  }
  .top-nav{
    width: 100%;
    display: none;
    position: fixed;
    background-color: #fff;
    padding: 0px 3%;
    z-index: 999;
    background-color: #FF700C;
  }
  .top-nav ul{

  }
  .top-nav ul li{
    display: inline;
    padding: 0px 5px;
  }
  .top-nav ul li img{
    width: 30px;
    height: 30px;
    border-radius: 100px;
  }
  .login{
  width: 90px;
  height: 30px;
  position: absolute;
  left: 75%;
  }
  .login img{
    float: right;
    width: 15px;
  }
}
@media only screen and (min-device-width : 320px) and (max-device-width :640px) {
  .cta{
    margin-left: 0px;
    font-size: 2vw;
  }
  .nav__links{
    width: 100%;
  }
  .nav__links li {
    padding: 0px 0px;
    margin-left: auto;
    margin-right: auto;
  }
  .nav__links li a {
    transition: all 0.3s ease 0s;
    padding: 5px 5px;
    font-size: 3.5vw;
    float: right;
    text-align: center;
  }
  .menu {
    display: initial;
  }
  .logo{
    display: flex;
    top: 0;
    right: 0;
    left: 0;
    width: 60%;
    margin-left: 18%;
    margin-left: auto;
    margin-right: auto;
  }
  .logo img{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 180px;
    height: 51px;
    align-items: center;
  }
  .navbar{
    width: 100%;
    padding: 0px 10px;
    padding-top: 5px;
    padding-bottom: 15px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    top: 70px;
    right: 0;
    left: 0;
    font-size: .8rem;
    box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.25);
  }
  header{
      font-size: 14px;
      padding: 5px 10px;
      background-color: #fff;
      width: 100%;
      padding:0px 0px;
      position: fixed;
      z-index: 999;
      top:0px;
      display: block;
      box-shadow: 5px 5px 9px rgba(0, 0, 0, 0.25);
  }
  .top-nav{
    width: 100%;
    display: none;
    position: fixed;
    background-color: #fff;
    padding: 0px 3%;
    z-index: 999;
    background-color: #FF700C;
  }
  .top-nav ul{

  }
  .top-nav ul li{
    display: inline;
    padding: 0px 5px;
  }
  .top-nav ul li img{
    width: 30px;
    height: 30px;
    border-radius: 100px;
  }
  .login{
  width: 90px;
  height: 30px;
  position: absolute;
  left: 75%;
  }
  .login img{
    float: right;
    width: 15px;
  }
}
/* <!-- header section ends--> */

/* <!-- home section starts --> */
.home{
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  width: 100vw;
  height: 100vh;
  color:black;  overflow: hidden;
  padding:0px 50px;
  padding-bottom: 100px;
  background: rgb(0,116,189);
  background: linear-gradient(90deg, rgba(0,116,189,1) 0%, rgba(65,166,246,1) 100%);
  margin-top:2%;
}
.home-content{
  width: 40vw;
  margin-top: 18%;
  vertical-align: middle;
}
.home-content h1{
font-weight: bolder;
padding: 5px 0px;
margin-top: 80px;
margin-left: 20px;
font-size:2.3vw;
color: #fff;
}
.home-content h4{
padding: 10px 0px;
margin-top: 0px;
margin-left: 20px;
font-size: 1.7vw;

color: #fff;
}
.home-content p{
padding: 0px 0px;
padding-right: 20px;
padding-bottom: 30px;
margin-left: 20px;
font-size: 1.3vw;
color: #ECECEC;
}
.home-img{
  width: 45vw;
  float: right;
  margin-top: 5%;
}
.home-img img{
  float: right;
  width: 100%;
  height: 45%;
  width: 45vw;
  height: 80Vh;
  margin-right: 5%;
}
.play{
  padding : 0px 0px;
  margin: 10px 0px;
}
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  margin: auto;
  padding: 20px;
  width: 80%;
  height: 30%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
@media only screen and (min-device-width : 1025px) and (max-device-width : 1360px) {
  .home{
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    width: 100vw;
    height: 100vh;
    color:black;  overflow: hidden;
    padding:0px 50px;
    padding-bottom: 100px;
    background: rgb(0,116,189);
    background: linear-gradient(90deg, rgba(0,116,189,1) 0%, rgba(65,166,246,1) 100%);
    margin-top:2%;
  }
  .home-content{
    width: 45%;
    margin-top: 20%;
    vertical-align: middle;
  }
  .home-content h1{
  font-weight: bolder;
  padding: 5px 0px;
  margin-top: 80px;
  margin-left: 20px;
  font-size:2.3vw;
  color: #fff;
  }
  .home-content h4{
  padding: 10px 0px;
  margin-top: 0px;
  margin-left: 20px;
  font-size: 1.7vw;

  color: #fff;
  }
  .home-content p{
  padding: 0px 0px;
  padding-right: 20px;
  padding-bottom: 30px;
  margin-left: 20px;
  font-size: 1.3vw;
  color: #ECECEC;
  }
  .home-img{
    width: 48%;
    float: right;
    margin-top: 8%;
  }
  .home-img img{
    float: right;
    width: 100%;
    height: 70vh;
  }
}
@media only screen and (min-device-width : 641px) and (max-device-width : 1024px) {
  .home{
    font-weight: 500;
    width: 100%;
    color:black;  overflow: hidden;
    padding:50px 15px;
    margin-top: 40px;
    margin-bottom: 20px;
    height: 100%;
  }
  .home-content{
    width: 100%;
    margin-top: 0px;
    position:static;
  }
  .cta-contact-button {
    margin-left: 0px;
    padding: 9px 10px;
    background-color: #FF6F00;
    color: white;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
  }
  .home-content h1{
  padding: 5px 0px;
  font-size: 5vw;
  margin-left: auto;
  margin-top: 5px;
  margin-right: auto;
  }
  .home-content h4{
    padding-top: 0px;
    padding-bottom: 10px;
  margin-top: 0px;
  margin-left: 0px;
  font-size: 4.5vw;
  color: #fff;
  }
  .home-content p{
  padding: 0px 0px;
  margin-left: auto;
  margin-right: auto;
  font-size: 3.5vw;

  padding-bottom: 25px;
  }
  .home-img{
    width: 48%;
    float: right;
    margin-top: 10%;
  }
  .home-img img{
   width: 100%;
   height: 70vw;
   float: none;
   margin-left: auto;
   margin-right: auto;
   margin-top: 30px;
  }
}
@media only screen and (min-device-width : 320px) and (max-device-width :640px){
  .home{
    font-weight: 500;
    width: 100%;
    color:black;  overflow: hidden;
    padding:50px 15px;
    margin-top: 0px;
    margin-bottom: 20px;
    height: 100%;
    display: block;
  }
  .home-content{
    width: 90vw;
    margin-top: 0px;
    display: inline-block;
  }
  .cta-contact-button {
    margin-left: 0px;
    padding: 9px 10px;
    background-color: #FF6F00;
    color: white;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
  }
  .home-content h1{
  padding: 5px 0px;
  font-size: 5vw;
  margin-left: auto;
  margin-top: 5px;
  margin-right: auto;
  }
  .home-content h4{
    padding-top: 0px;
    padding-bottom: 10px;
  margin-top: 0px;
  margin-left: 0px;
  font-size: 4.5vw;
  color: #fff;
  }
  .home-content p{
  padding: 0px 0px;
  margin-left: auto;
  margin-right: auto;
  font-size: 3.5vw;

  padding-bottom: 25px;
  }
  .home-img{
    width:100%;
    float: inherit;
    margin-top: 10%;
  }
  .home-img img{
   width: 90vw;
   height: 90vw;
   float: inherit;
   margin-left: auto;
   margin-right: auto;
   margin-top: 20px;
  }
}
/* HOME SECTION ENDS */
/* about us section starts */
.about-koollog{
    padding: 0px 30px;

  padding-bottom: 20px;
  font-size: 1.1vw;
  /* background: rgb(0,116,189); */
  /* background: linear-gradient(90deg, rgba(0,116,189,1) 0%, rgba(65,166,246,1) 100%); */
  display: flex;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
.koollog-webapp{
width: 55%;
padding: 50px 20px;
}
.koollog-webapp img{
  width : 100%;
float: left;
padding: 10px;
}
.aboutus{
padding: 20px;
width : 50%;
float: left;
font-size: 1rem;
}
.aboutus h2{
  padding-bottom: 10px;
}
.aboutus p{
  padding-bottom: 10px;
}
.aboutus-card{

}
.aboutus-card img{
  padding: 10px 5px;
}
.aboutus-heading{
  display: flex;
}
.aboutus-heading img{
  padding: 5px 5px;
  width:50px;
}
.aboutus-heading h4{
  padding-top: 13px;
  vertical-align: middle;

}
.aboutus-card p{
  padding-left: 37px;
}
iframe{
  width: 90%;
  width : 100%;
float: left;
padding: 0px 0px;
border-radius: 20px;
}
@media only screen and (max-width: 800px) {
  iframe{
  width : 100%;
  height: 300px;
  float: none;
  padding: 0px 0px;
  border-radius: 20px;
  }
  .about-koollog{
    padding: 0px 15px;
    font-size: 1.1vw;
    display: block;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  .koollog-webapp{
  width: 100%;
  padding: 0px 0px;
  }
  .koollog-webapp img{
    width : 100%;
  float: none;
  padding: 10px;
  }
  .aboutus{
  padding: 10px 0px;
  width : 100%;
  float: none;
  font-size: 3vw;
  }
  .aboutus h2{
    padding-bottom: 10px;
  }
  .aboutus p{
    padding-bottom: 10px;
  }
  .aboutus-card{
font-size: 3vw;
  }
  .aboutus-card img{
    padding: 10px 5px;
  }
  .aboutus-heading{
    display: flex;
  }
  .aboutus-heading img{
    padding: 5px 5px;
    width: 35px;
  }
  .aboutus-heading h4{
    padding-top: 5px;
  }
  .aboutus-card p{
    padding-left: 37px;
  }
}
/* about us section ends */
/* why koollog starts */
.whykoollog{
  /* background: rgb(0,116,189); */
  /* background: linear-gradient(90deg, rgba(0,116,189,1) 0%, rgba(65,166,246,1) 100%); */
  display: flex;
  width: 100%;
  flex-direction: row;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  padding-bottom: 30px;
}
.why{
  width: 28.44%;

  background-color: #fff;
  border-radius: 25px;
  padding: 20px 30px;
  margin: 0px 20px;
  box-shadow: 3px 0px 9px rgba(0, 0, 0, 0.25);
}
.why h4{
  text-align: center;
  font-size: 1.6vw;
  padding-bottom: 20px;
  color: #004cfc;
}
.why p{
  padding-bottom: 10px;
  font-weight:700;
}
.why li{
  padding-bottom: 5px;
}
.why img{
  width: 100%;
  display: flex;
  justify-content: center;
}
.why-img{
  width: 80%;
}
@media only screen and (max-width: 800px) {
  .whykoollog{
    display: inline-block;
    flex-direction: column;
    margin-left: auto;
    margin-top: auto;
    justify-content: center;
    padding-bottom: 30px;
  }
  .why{
    width: 93%;
    background-color: #fff;
    border-radius: 25px;
    padding: 20px 30px;
    margin: 20px 20px;
    box-shadow: 3px 0px 9px rgba(0, 0, 0, 0.25);
  }
  .why h4{
    text-align: center;
    font-size: 4vw;
    padding-bottom: 20px;
    color: #004cfc;
  }
  .why p{
    padding-bottom: 10px;
    font-weight:700;
  }

  .why li{
    padding-bottom: 5px;
  }
  .why img{
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .why-img{
    width: 80%;
  }
}
/* why koollog ends*/
/* features section starts */
.features{
  font-size: 1.1vw;
  font-size: 1rem;
  width: 100%;
  margin-left: auto;
  margin-right: auto;

  /* background: linear-gradient(90deg, rgba(0,116,189,1) 0%, rgba(65,166,246,1) 100%); */
  padding-bottom: 50px;

}
.feature h4{
  padding: 10px 0px;
  color: #004cfc;
  font-size: 1.3vw;
  font-weight: 700;

}
.feature{
width :92%;
margin-left: auto;
margin-right: auto;
border-radius: 25px;
overflow: hidden;
margin-bottom: 30px;
background-color: #fff;
box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25);
}
.feature-img img{
  width: 49%;
  /* max-width: 500px;
  max-height: 450px; */
  float: left;
  padding: 20px;
  margin-left: 5%;
}
.feature-des{
width: 50%;
float: right;
padding: 65px 20px;
position: relative;
}
.feature-img1 {
  width: 49%;
  float: right;
}
.feature-img1 img{
  padding: 10px 0px;
   float: right;
  margin-right: 10%;
}
.feature-des1{
  width: 50%;
  float: left;
padding: 80px 30px;
}
.feature-img2 img{
  width: 45%;
  width: 150px;
  float: left;
  margin-left: 150px;
  max-height: 350px;
  padding: 10px 0px;
}
@media only screen and (max-width: 800px) {
  .features{
    font-size: 3vw;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  .feature h4{
  padding: 10px 0px;
    color: #004cfc;
    font-size: 3.8vw;
    font-weight: 700;
  }
  .feature{
  width :93%;
  background-color: #fff;
  border-radius: 25px;
  overflow: hidden;
  margin-bottom: 30px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25);
  padding-top: 10px;
  }
.feature-img{
  width: 100%;
  display: block;
}
  .feature-img img{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 30px 30px;

  }
  .feature-des{
  width: 100%;
  padding: 0px 20px;
  position: relative;
  padding-bottom: 15px;
  }
  .feature-img1 {
    width: 100%;
    float: none;
  }
  .feature-img1 img{
    width: 100%;
    float: none;
    padding: 30px 30px;
  }
  .feature-des1{
    width: 100%;
    float: left;
  padding: 0px 20px;
  padding-bottom: 15px;
  }
  .feature-img2 img{
    width: 100%;
    width: 150px;
    float: left;
    margin-left: 150px;
    max-height: 350px;
    padding: 10px 0px;
  }

}
/* features section ends */
/* application section starts */
.applications .title{
padding-top: 5px;
}
.title{
  color: #FF8D43;
  font-size: 3vw;
  text-align: center;
  width: 93%;
  display: inline-block;
}
.applications{
  width: 100%;
}
.application{
  position: relative;
  width: 100%;
  overflow: hidden;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  font-size: 1.2vw;
  padding-bottom: 20px;
}
.appliaction{
  font-size: 1.1vw;
}
.app-card{
  width: 30%;
  padding: 20px;
  margin-left: auto;
  margin-right: auto;
  background-color: #fff;
  border-radius: 25px;
  box-shadow: 5px 5px  10px rgba(0, 0, 0, 0.25);
  display: flex;
}
.app-content{
  color: black;
  font-size: 1vw;
}
.app-content h3{
  padding-bottom: 10px;
  color: #004cfc;
}
.app-img img{
  width: 100%;
  height: 100%;
  width:200px;
  height: 150px;

  max-height: 200px;
  border-radius: 10px;
  margin-bottom: 10px;
}
.app-card:hover{
box-shadow: 5px 5px  10px rgba(0, 0, 0, 0.25);
cursor: pointer;
}
@media only screen and (max-width: 1500px) {
.applications{
  padding : 50px 0px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  background : linear-gradient(to right, rgb(0, 217, 255), rgb(0, 145, 255));
}
.title{
  color: #FF7103;
  font-size: 2vw;
  text-align: center;
  width: 30%;
  margin-left: auto;
  margin-right: auto;
  display: block;
  background-color: #fff;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25);
  margin-bottom: 15px;
  border-radius: 40px;
}
.application{
  position: relative;
  width: 98%;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 0px;
}
.appliaction{
  font-size: 1.1vw;
  font-size: 1rem;
}
.app-card{
  display: block;
  width:28%;
  margin: 20px;
  padding: 20px;
  margin-left: auto;
  margin-right: auto;
  background-color: #fff;
  border-radius: 25px;
  box-shadow: 5px 5px  20px rgba(0, 0, 0, 0.25);
}
.app-content{
  color: black;
}
.app-content h3{
  padding-bottom: 5px;
  color: #004cfc;
}
.app-img img{
  width: 100%;
  height: 300px;
  max-height: 200px;
  border-radius: 10px;
  margin-bottom: 10px;
}
.app-card:hover{
box-shadow: 5px 5px  10px rgba(0, 0, 0, 0.25);
cursor: pointer;
}
}
@media only screen and (max-width: 800px) {
  .applications .title{
  padding-top: 5px;
  }
  .title{
    color: #FF8D43;
    font-size: 3vw;
    text-align: center;
    width: 93%;
    display: inline-block;
  }
  .applications{
    width: 100%;
  }
  .application{
    position: relative;
    width: 100%;
    overflow: hidden;
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.2vw;

  }
  .appliaction{
    font-size: 1.1vw;
  }
  .app-card{
    width: 93%;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    background-color: #fff;
    border-radius: 25px;
    box-shadow: 5px 5px  10px rgba(0, 0, 0, 0.25);
    display: flex;
  }
  .app-content{
    color: black;
    font-size: 3vw;
  }
  .app-content h3{
    padding-bottom: 10px;
    color: #004cfc;
  }
  .app-img img{
    width: 100%;
    height: 100%;
    height: 150px;
    width: 150px;
    max-height: 200px;
    border-radius: 10px;
    margin-bottom: 10px;
  }
  .app-card:hover{
  box-shadow: 5px 5px  10px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  }
}
/* application section ends */
/* platform section starts */


.platforms{
  width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0px;
    max-width: 1400px;
  background : linear-gradient(to right, rgb(0, 217, 255), rgb(0, 145, 255));
}
.platform-main{
  width: 92%;
  display: flex;
  margin-left: auto;
  margin-right: auto;
}
.platform-card{
  width: 100%;
  margin: 20px;
  padding: 20px;
  margin-left: auto;
  margin-right: auto;
  background-color: #fff;
  border-radius: 25px;
  box-shadow: 5px 5px  10px rgba(0, 0, 0, 0.25);
}
.platform-content{
  color: black;
  width: 100%;
  font-size: 1.1vw;
}
.platform-content h3{
  padding: 10px;
  padding-bottom: 10px;
  color: #004cfc;
  font-size: 2vw;
}
.platform-content p{
  font-size: 1.1vw;
  font-size: 1rem;
}
.platform-img img{
  width: 20%;
  height: 20%;
  max-height: 300px;
  float: left;
  margin-right: 30px;
  border-radius: 10px;
  margin-bottom: 10px;
}
.platform-card:hover{
box-shadow: 5px 5px  10px rgba(0, 0, 0, 0.25);
cursor: pointer;
}

/* platforms cards */

.platform{
  width: 95%;
  display: flex;
  margin-left: auto;
  margin-right: auto;
}
.platform-cards{
  width:47%;
  background-color: #fff;
  border-radius: 25px;
  margin: 20px 0px;
  padding: 10px;
  box-shadow: 5px 5px  10px rgba(0, 0, 0, 0.25);
  margin-left: auto;
  margin-right: auto;
}
.platforms-content{
  color:black;
  width: 100%;
  font-size: 1.1vw;
  padding-top: 5px;
}
.platforms-content h3{
  padding: 5px;
  padding-bottom: 1px;
  color: #004cfc;
}
.platforms-content p{
  padding: 5px;
}
.platforms-img img{
  width: 50%;
  height: 20%;
  float: left;
  margin-right: 10px;
  border-radius: 10px;
  margin-bottom: 10px;
}
.platforms-card:hover{
box-shadow: 5px 5px  10px rgba(0, 0, 0, 0.25);
}
.platforms-content{
  font-size: 1rem;
}
@media only screen and (max-width: 800px) {
  .title{
    color: #FF6F00;
    font-size: 7vw;
    text-align: center;
    width: 93%;
    display: block;
  }
  .platforms{
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background : linear-gradient(to right, rgb(0, 217, 255), rgb(0, 145, 255));
    padding-bottom: 15px;
  }
  .platform-main{
    width: 100%;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    background : linear-gradient(to right, rgb(0, 217, 255), rgb(0, 145, 255));
  }

  .platform-card{
    width: 93%;
    margin: 20px;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    background-color: #fff;
    border-radius: 25px;
    box-shadow: 5px 5px  10px rgba(0, 0, 0, 0.25);
  }
  .platform-content{
    color: black;
    width: 100%;
    font-size: 3vw;
  }
  .platform-content h3{
    padding: 0px;
    padding-bottom: 10px;
    color: #004cfc;
    font-size: 4.5vw;
  }
  .platform-content p{
    font-size: 3.5vw;
  }
  .platform-img img{
    width: 100%;
    height: 20%;
    max-height: 300px;
    float: left;
    margin-right: 30px;
    border-radius: 10px;
    margin-bottom: 10px;
  }
  .platform-card:hover{
  box-shadow: 5px 5px  10px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  }
  .platform{
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background : linear-gradient(to right, rgb(0, 217, 255), rgb(0, 145, 255));
  }
  .platform-cards{
    width: 93%;
    margin-top: 20px;
    margin-bottom: 0px;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    background-color: #fff;
    border-radius: 25px;
    box-shadow: 5px 5px  10px rgba(0, 0, 0, 0.25);
  }
  .platforms-content{
    color: black;
    width: 100%;
    font-size: 1rem;
  }
  .platforms-content h3{
    padding-bottom: 10px;
    color: #004cfc;
  }
  .platforms-content p{
    font-size: 1rem;
  }
  .platforms-img img{
    width: 100%;
    height: 20%;
    max-height: 300px;
    float: left;
    margin-right: 5px;
    border-radius: 10px;
    margin-bottom: 5px;
  }
  .platform-cards:hover{
  box-shadow: 5px 5px  10px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  }
}
/* platform section ends */
/* product section starts */
.productss{
  /* background : linear-gradient(to right, rgb(0, 217, 255), rgb(0, 145, 255)); */

    margin-left:auto;
    margin-right: auto;
}
.products-page{
  width: 95%;
  display: flex;

  margin-left: auto;
  padding-top: 20px;
  margin-right: auto;
}
.product{
  width: 47%;
  display: flex;
  box-shadow: 5px 5px  10px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  padding: 20px 15px;
  background-color: #fff;
  flex-direction: row;
  margin-left: auto;
  margin-right: auto;
  font-size: 1.2vw;
  margin-bottom: 20px;
  max-height: 400px;
}
.product-img{
width: 50%;
}
.product-img1{
  width: 45%;
}
.product-img1 img{
padding:0px 0px;
  width:80%;
}
.product-des{
width: 50%;
  padding:10px;
  font-size: 1rem;
}
.product-img img{
  width:90%;
  padding:25px 0px;
}
.product-des h5{
  padding-bottom: 10px;
  color: #004cfc;
  font-size: 1.2vw;
}
@media only screen and (max-width: 800px) {
  .productss{
    width: 100%;
    background : linear-gradient(to right, rgb(0, 217, 255), rgb(0, 145, 255));
  }
  .products-page{
    width: 100%;
    display: inline-block;
    margin-left: auto;
    padding-top: 20px;
    margin-right: auto;
  }
  .product{
    width: 93%;
    display: block;
    box-shadow: 5px 5px  10px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    padding: 20px 15px;
    background-color: #fff;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.2vw;
    margin-bottom: 20px;
      max-height: 500px;
  }
  .product-img{
  width: 100%;
  }
  .product-img img{
    width:80%;
    padding:0px 0px;
  }
  .product-img1{
    width: 100%;
  }
  .product-img1 img{
  padding:0px 60px;
    width:80%;
  }
  .product-des{
  width: 100%;
    padding:10px;
    font-size: 1rem;
  }



}
/* product section ends */
/* contact section starts */
.contact-section{
padding-top: 40px;
padding-bottom: 20px;
background : linear-gradient(to right, rgb(0, 217, 255), rgb(0, 145, 255));
margin-top: 0px;

margin-left:auto;
margin-right: auto;
}
.contact{
width: 92%;
margin-top: 40px;
background-color: #fff;
font-size: 1.3vw;
font-size: 1rem;
padding-bottom: 30px;
margin-left: auto;
margin-right: auto;
border-radius: 25px;
box-shadow: 5px 5px  10px rgba(0, 0, 0, 0.25);
}
.contact h4{
  color:#FF6F00;
  font-size: 1.3rem;
  padding-bottom: 10px;
}
.address{
width: 100%;
padding: 40px;
display: flex;
justify-content:  center;
}
.address img{
  width: 30px;
  height: 30px;
  margin-right: 10px;
}
.address-info{
padding: 20px 20px;
width: 100%;
display: flex;
}
.email{
padding: 20px 20px;
width: 100%;
display: flex;
}
.contact-container{
  display: flex;
  width: 100%;
}
.contact-form{
  height: 450px;
  min-width: 350px;
  background-color:#F8F8F8;
  color: black;
  padding: 10px 20px;
  margin-left: 200px;
  margin-right: 5%;
  border-radius: 20px;
}
.contact-form h4{
  padding: 10px 0px;
}
.contact-img{
float: left;
width: 40%;
height: 60%;
  min-width: 300px;
}
.contact-img img{
  width: 100%;
  height: 100%;
 padding-left:20%;
  padding-top: 0px;
}

input{
    padding: 5px;
    margin-bottom: 20px;
    background: transparent;
    border: none;
    border-bottom: 1px solid black;
    color: black;
}
input::placeholder {
    color: black;
}
.info {
display: flex;
flex-direction: column;
}
textarea{
  padding: 20px;
}
.send-msg{
  transition: .3s ease background-color;
  outline: none;
  border: none;
  background-color:#FF6F00;
  padding: 10px;
  margin-top: 20px;
  border-radius: 20px;
  font-size: 20px;
  color: #fff;
  font-weight: bold;
  float: right;
    box-shadow: 5px 5px  10px rgba(0, 0, 0, 0.25);
}
@media only screen and (max-width: 800px) {
  .contact-section{
  padding-top: 40px;
  padding-bottom: 20px;
  background : linear-gradient(to right, rgb(0, 217, 255), rgb(0, 145, 255));
  }
  .contact{
  width: 92%;
  margin-top: 40px;
  background-color: #fff;
  font-size: 1rem;
  padding-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 25px;
  box-shadow: 5px 5px  10px rgba(0, 0, 0, 0.25);
  }
  .contact h4{
    color:#FF6F00;
    font-size: 4vw;
    padding-top: 0px;
    padding-bottom: 15px;
  }
  .address{
  width: 100%;
  padding: 30px;
  display: block;
  text-align: center;
  }
  .address-info{
  padding: 10px 20px;
  width: 100%;
  display: block;
  }
  .email{
  width: 100%;
  padding: 0px 20px;
  display: block;
  }
  .contact-img img{
  width: 30%;
  display: flex;
  height: 500px;
  }
  .contact-form{
    width: 90%;
    min-width: 250px;
    background-color:#F8F8F8;
    color: black;
    padding: 20px;
    margin: 0px 30px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
    box-shadow: none;
    float: none;
  }
  input{
    padding: 5px;
    margin-bottom: 20px;
    background: transparent;
    border: none;
    border-bottom: 1px solid black;
    color: black;
  }
  input::placeholder {
    color: black;
  }
  .info {
  display: flex;
  flex-direction: column;
  }
  .contact{
  background-color: #fff;
  }
  textarea{
    padding: 20px;
  }
  .send-msg{
    background-color:#FF6F00;
    padding: 10px;
    margin-top: 20px;
    border-radius: 20px;
    font-size: 20px;
    color: #fff;
    font-weight: bold;
    float: right;
    box-shadow: 5px 5px  10px rgba(0, 0, 0, 0.25);
  }
  .contact-img{
  float: none;
  margin-left: auto;
  margin-right: auto;
  min-width: 300px;
  }
  .contact-img img{
    width: 80%;
    height: 80%;
    padding-left: 0px;
    padding-top: 10px;
    margin-left: auto;
    margin-right: auto;
  }
  .contact-container{
    display: block;
    width: 100%;
  }
}

/* contact section ends */
/* footer section starts */
.footer{
  background : linear-gradient(to right, rgb(0, 217, 255), rgb(0, 145, 255));
}
.footer-card{
width: 92%;
padding: 30px 0px;
display: flex;
margin-left: auto;
margin-right: auto;

}
.mission{
width: 100%;
color: #fff;
background-color:  #FF6F00;
padding: 30px 20px;
border-radius: 20px;
margin: 0px 5px;
box-shadow: 5px 5px  10px rgba(0, 0, 0, 0.25);
}
.mission h3{
  padding-bottom: 10px;
}
.copyright{
  background-color:#F8F8F8;
  text-align: center;
  padding: 40px;
}
@media only screen and (max-width: 800px) {
  .footer{
    background : linear-gradient(to right, rgb(0, 217, 255), rgb(0, 145, 255));
  }
  .footer-card{
  width: 92%;
  padding: 30px 0px;
  display: block;
  margin-left: auto;
  margin-right: auto;

  }
  .mission{
    width: 98%;
    color: #fff;
    background-color:#FF6F00;
    padding: 30px 20px;
    border-radius: 20px;
    margin: 20px 5px;
    box-shadow: 5px 5px  10px rgba(0, 0, 0, 0.25);
  }
  .mission h3{
    padding-bottom: 10px;
  }
  .copyright{
    background-color:#F8F8F8;
    text-align: center;
    padding: 40px;
  }
}
.whatsapp{
float: right;
position: fixed;
right: 0px;
bottom: 0px;

}
.whatsapp-img{
width: 80px;
height: 80px;
float: right;
position: fixed;
right: 10px;
bottom: 10px;
z-index: 999;
}



/* footer section ends */
